<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="ElectricEngine" class="co.spring.learning.springdemo.ElectricEngine"></bean>
    <bean name="PetrolEngine" class="co.spring.learning.springdemo.PetrolEngine"></bean>
    <bean name="car" class="co.spring.learning.springdemo.Car">

        <constructor-arg name="make" value="Honda"></constructor-arg>
        <constructor-arg name="model" value="CRV"></constructor-arg>
        <constructor-arg name="engine" ref="PetrolEngine"></constructor-arg>
    </bean>

    <bean name="user" init-method="init" class="co.spring.learning.springdemo.User">

        <property name="firstName" value="Shilpa"></property>
        <property name="lastName" value="Rane"></property>
        <property name="courseName" value="FullStackDeveloper"></property>
        <property name="hobbies">
            <list>
                <value>Reading</value>
                <value>Writing</value>
            </list>
        </property>
    </bean>



</beans>